<!DOCTYPE html>
<html lange="en">
    <head>
        <meta charset="UTF-8">
       <link rel="stylesheet" href="//d2e48ltfsb5exy.cloudfront.net/framework/v2/secure/css/code/bootstrap.221.min.css" type ="text/css">
       <script type="text/javascript" src="//d2e48ltfsb5exy.cloudfront.net/framework/v2/js/code/jquery-1.7.1.js"></script>

    </head>
    <body>
        <div class="row" id="container">
        </div>
        <script>

            function fillContainer(data) {
                if(data.status){
                    alert(data.status);
                } else {
                    $("#container").append(data.map(function(e) {
                        return "<div class='span12'>Name: " + e.name + "</div>";
                    }).join(""));
                }
            }

            corsEnabled = XMLHttpRequest && "withCredentials" in XMLHttpRequest;

            $.ajax({
                url: "http://10.10.12.112:8002/reports/ajax/mypartners/partner",
                crossDomain: true,
                processData: false;
                dataType: corsEnabled ? "json" : "jsonp",
                success: corsEnabled ? fillContainer : void 0,
                jsonpCallback: corsEnabled ? void 0 : 'fillContainer',
                headers: corsEnabled ? {
                    "X-Requested-With": "XMLHttpRequest"
                } : {
                    "Content-Type": 'application/json',
                    Accept: 'text/javascript'
                },
                xhrFields: corsEnabled ? {
                    withCredentials: true
                } : void 0,
            });
        </script>
    </body>

</html>
